<div class="row">
  <div class="col-sm-12">
    <%= link_to 'Back', @post, class: "btn btn-default"  %>
  </div>

  <div class="col-sm-12">
    <h1>Editing Post</h1>
  </div>
</div>
<%= render 'form' %>