<body>
    
    
    
   <%= gravatar_for current_user, size: 100%>
    
    <td> <p>Email: </p><%= current_user.email %>
        <p> dassdasa: </p><%= current_user.name %>
        
        </td>
    
    
</body>